<!-- 8/4 styling moved to stylesheet -->
<body>
  <div class="login-page">
    <div class="form">
      <img class="logologin" src="/images/lock.png">
      <br><br>
      <form class="forgot-form">
        <input type="email" placeholder="Enter your account email" id='email' required />
        <button class='button-send-reset'>Send Reset Link</button>
      </form>
    </div>
  </div>
  </div>
</body>