<div class="container-fluid">
    <br>
    <div class="w-75 mx-auto"> <!-- centered and only takes up 75% of the pages width -->
        <h1>Privacy Policy</h1>
        <p>At Wander Yonder we are committed to protecting the privacy and security of our users and site visitors. We
            are open about our security and privacy policies, on this page you can find out exactly which details we
            receive when you use our site, how we may use it, and how we try to keep it safe and secure.</p>

        <h3>Information we gather from you </h3>
        <p>When you register with Wander Yonder, we gather a little information about you to help us provide a better
            service to you now and in the future. Information collected:</p>
        <p>When you create an account ask for your name, date of birth, country of origin and email address. We need
            this information to provide your personalised list to you. This information is accessible by the wander
            yonder members only if required. (i.e if you are unable to access your account).</p>
        <p>We also keep a record of all lists you have made with us. We use the likes and dislikes made on each
            attraction to tailor our service and to provide you with statistics. Your personal
            details are never accessed during this process </p>
        <p>On your list page there is an option to put in your current location. This is used to see the distance you are from the relevant attractions. This location is deleted once you leave the page and the distances/location is only accessible by you.</p>
        <p>We will hold your data for as long as you hold an acount with us. Your data protection rights are fully
            honoured.</p>


        <h3>Complaints or queries</h3>
        <p>Wander Yonder tries to meet the highest standards when collecting and using personal information. For this
            reason, we take any complaints we receive about this very seriously. We encourage people to bring it to our
            attention if they think that our collection or use of information is unfair, misleading or inappropriate. We
            would also welcome any suggestions for improving our procedures.</p>
        <p>This privacy notice was drafted with brevity and clarity in mind. It does not provide exhaustive detail of
            all aspects of Wander Yonder’s collection and use of personal information. However, we are happy to provide
            any additional information or explanation needed. Any requests for this should be sent to our Contact Form
        </p>


        <h3>Links to other websites</h3>
        <p>This privacy notice does not cover the links within this site linking to other websites. We encourage you to
            read the privacy statements on the other websites you visit.</p>

        <h3>How to contact us</h3>
        <p>If you want to request information about our privacy policy, view the data we hold about you, or remove your
            data you can <a href="/contact">contact us here</a></p>

        <h3>General</h3>
        <p>The information, which you supply to us, is treated confidentially. Your information will be kept internal to
            Wander Yonder, except where specified above. All information such as your name and email
            address is stored on secure servers. All your personal details are protected to and treated as confidential
            in line with Data Protection and Consumer Legislation.</p>

        <p>It is vital that the information you provide when you register as a customer is true, accurate, current and
            complete in all respects. You also must agree not to impersonate any other person or entity or to use a
            false name or a name that you are not authorised to use. If your details are incorrect or change please
            contact us immediately to notify us of the change.</p>

        <h3>Policy Review</h3>
        <p>Our policies may be reviewed/updated at any time. This privacy notice was last updated on the 8th April 2020</p>
    </div>
    <br>
</div>